/* Fonts */
@font-face {
  font-family: 'aztec';
  src: url(./metadata/fonts/aztech-forest/AztechForest-9YJa0.otf);
}
@font-face {
  font-family: 'paws';
  src: url(./metadata/fonts/little-paws/LittlePaws-8MZqZ.ttf);
}
@font-face {
  font-family: 'simplecat';
  src: url(./metadata/fonts/simple-cat/Simplecat-d9xpV.otf);
}

/* Global Settings */

:root {
  --ChickRed: rgba(229, 22, 54, 1.0);
}

/* let page take full height of viewport excess */
html { height: 100%; } body { position: absolute; top: 0; bottom: 0; right: 0; left: 0; }

body {
  background-color: var(--ChickRed);
  color: white;
}

/* gif backdrop */
#backdrop {
  border: 2px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 320px;
  height: 500px;
}

/* chickens */
#chicken-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 0px;
}

.chicken-clockwise {
  margin-right: -8px;
  margin-left: -8px;
  width: 64px;
  height: auto;
  -webkit-animation: rotating 2.69s linear infinite;
  -moz-animation: rotating 2.69s linear infinite;
  -ms-animation: rotating 2.69s linear infinite;
  -o-animation: rotating 2.69s linear infinite;
  animation: rotating 2.69s linear infinite;
}
.chicken-anticlockwise {
  margin-right: -8px;
  margin-left: -8px;
  width: 64px;
  height: auto;
  -webkit-animation: anti-rotating 2.69s linear infinite;
  -moz-animation: anti-rotating 2.69s linear infinite;
  -ms-animation: anti-rotating 2.69s linear infinite;
  -o-animation: anti-rotating 2.69s linear infinite;
  animation: anti-rotating 2.69s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes anti-rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes anti-rotating {
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);  
  }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}