/* Fonts */
@font-face {
  font-family: 'chicken';
  src: url(./metadata/fonts/chicken-hut-chick-fil-a/ChickenHut-ynKV.ttf);
}
@font-face {
  font-family: 'areYouSerious';
  src: url(./metadata/fonts/are-you-serious/AreYouSerious-Regular.ttf);
}

/* Global Settings */

:root {
  --ChickRed: rgba(229, 22, 54, 1.0);
}

/* let page take full height of viewport excess */
html { height: 100%; } body { position: absolute; top: 0; bottom: 0; right: 0; left: 0; }

body {
  background-color: var(--ChickRed);
  color: white;
  font-family: 'chicken';
}

/* main content */
main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 52px;
  align-items: center;
  width: 320px;
  height: 500px;
  border: 2px solid white;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.socials button {
  width: auto;
  height: auto;
  font-family: 'areYouSerious';
  padding: 6px;
  font-size: 24px;
  font-weight: 900;
  color: black;
  background: white;
  border: 2px solid var(--ChickRed);
  cursor: pointer;
}
.socials button:hover {
  color: white;
  background: var(--ChickRed);
  border: 2px solid white;
}
.socials button:active {
  background: white;
  border: 2px solid var(--ChickRed);
}

.trade {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.trade button {
  width: auto;
  height: auto;
  font-family: 'areYouSerious';
  padding: 6px;
  font-size: 24px;
  font-weight: 900;
  color: black;
  background: white;
  border: 2px solid var(--ChickRed);
  cursor: pointer;
}
.trade button:hover {
  color: white;
  background: var(--ChickRed);
  border: 2px solid white;
}
.trade button:active {
  background: white;
  border: 2px solid var(--ChickRed);
}

.contract-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.contract-container span {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  word-break: break-all;
  padding-left: 12px;
  padding-right: 12px;
  color: white;  
}
.contract-container button {
  width: 164px;
  height: auto;
  font-family: 'chicken';
  font-size: 32px;
  color: white;
  background-color: var(--ChickRed);
  border: 2px solid white;
  padding: 8px;
  cursor: pointer;
}
.contract-container button:hover {
  color: var(--ChickRed);
  background-color: white;
  border: 2px solid var(--ChickRed);
}
.contract-container button:active {
  color: white;
  background-color: var(--ChickRed);
  border: 2px solid white;
}

/* gif backdrop */
#backdrop {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.55;
}
#gif-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
}
#gif-2 {
  position: absolute;
  width: 80px;
  right: 0;
  margin-top: 190px;
  z-index: 1;
}
#gif-3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  z-index: 1;
}
#gif-4 {
  position: absolute;
  width: 100px;
  right: 0;
  margin-right: 72px;
  margin-top: 200px;
  z-index: 1;
}
#gif-5 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 180px;
  z-index: 1;
}
#gif-6 {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 80px;
  width: 140px;
  z-index: 3;
}
#gif-7 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 180px;
  z-index: 2;
}


/* chickens */
#chicken-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 0px;
}

.chicken-clockwise {
  margin-right: -8px;
  margin-left: -8px;
  width: 64px;
  height: auto;
  -webkit-animation: rotating 2.69s linear infinite;
  -moz-animation: rotating 2.69s linear infinite;
  -ms-animation: rotating 2.69s linear infinite;
  -o-animation: rotating 2.69s linear infinite;
  animation: rotating 2.69s linear infinite;
}
.chicken-anticlockwise {
  margin-right: -8px;
  margin-left: -8px;
  width: 64px;
  height: auto;
  -webkit-animation: anti-rotating 2.69s linear infinite;
  -moz-animation: anti-rotating 2.69s linear infinite;
  -ms-animation: anti-rotating 2.69s linear infinite;
  -o-animation: anti-rotating 2.69s linear infinite;
  animation: anti-rotating 2.69s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes anti-rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes anti-rotating {
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);  
  }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}